/** @format */

{
    "presets": [
        [
            "env",
            {
                "targets": {
                    "uglifyjs": true,
                    "modules": "umd"
                }
            }
        ]
    ],
    "plugins": ["transform-es2015-modules-umd"]
}
